@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(212, 45%, 89%);
  --clr-grayish-blue: hsl(220, 15%, 55%);
  --clr-dark-blue: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  margin: 0;
  font-family: Outfit;
  background-color: var(--clr-light-gray);

  display: grid;
  place-content: center;
}

.card {
  max-width: 340px;
  width: 100%;

  margin: 0;
  padding: 1rem 1rem 2rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--clr-white);
  border-radius: 1rem;
}

.card__img {
  max-width: 300px;
  height: auto;
  border-radius: 1rem;
}

.card__content {
  max-width: 280px;
}

.card__title,
.card__txt {
  text-align: center;
}

.card__title {
  font-weight: bold;
  margin: 1rem 0;
  color: var(--clr-dark-blue);
}

.card__txt {
  margin: 0;
  color: var(--clr-grayish-blue);
  font-size: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 0.5rem 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
